<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="../../public/images/p-logo.jpg" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Group CSS -->
    {{!-- <link rel="stylesheet" href="stylesheet.css"> --}}
    <!-- Imported Font Family from Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli|Oxygen|Ubuntu&display=swap" rel="stylesheet">
  <title>Home Page</title>
        <nav>
            <div class="nav-wrapper #37474f blue-grey darken-3 ">
                <a href="index.html" class="brand-logo">
                    <p class="logo-font">Prodigies</p>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="about.html">About</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="future.html">Future</a></li>
                </ul>
            </div>
        </nav>
    
</head>

<body>
  {{{body}}}
</body>
   <footer class="page-footer #37474f blue-grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Prodigies</h5>
                    <p class="grey-text text-lighten-4">Prodigies exists to give educators and kids a safe place to play
                        enriching games</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/index.html">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Team</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Future</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Text
            </div>
        </div>
    </footer>
</html>
