<h1>Login</h1>
{{#if messages.error}}
{{messages.error}}
{{/if}}

<form action="/login" method="POST">
 
      <div>
        <label for="email">Email</label>
        <input type="text" id="emailInput" name="email" 
        required>
    </div>
      <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" 
        required>
    </div>
    <button type="submit" id="submit">Login</button>
</form>
<a href="/register">Register</a>