<main>
    <div class="container">
        <div class="row">
            {{!-- <div class="col center"> --}}
                <p><h3 style="color:white">Meet the Team!</h3></p>
            {{!-- </div> --}}
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <!-- Card Row-->
                <div class="row">
                    <!-- Card 1 -->
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="./images/alex.jpg">
                                <span class="card-title">Alex Perkins</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light gray"
                                    href="https://github.com/ajperkins92" target="_blank"><i
                                        class="material-icons">code</i></a>
                            </div>
                            <div class="card-content">
                                <p>Alex Perkins: UX - PM - BA</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="./images/patslack.png">
                                <span class="card-title">Patrick Schroedl</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light gray"
                                    href="https://github.com/patrickschroedl" target="_blank"><i
                                        class="material-icons">code</i></a>
                            </div>
                            <div class="card-content">
                                <p>Patrick Schroedl: Game Designer - hand of expertise </p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                </div>
                <div class="row">
                    <!-- Card 1 -->
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="./images/abe.png">
                                <span class="card-title">Abe Kim</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light gray"
                                    href="https://github.com/kima111" target="_blank"><i
                                        class="material-icons">code</i></a>
                            </div>
                            <div class="card-content">
                                <p>Abe Kim: Database and Server Master Extraordinaire</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="./images/ryan.png">
                                <span class="card-title">Ryan Isaacson</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light gray"
                                    href="https://github.com/Munchinator6354" target="_blank"><i
                                        class="material-icons">code</i></a>
                            </div>
                            <div class="card-content">
                                <p>Ryan Isaacson: Son of Isaac </p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                </div>
            </div>
            <div class="col">

            </div>
            <div class=""></div>

        </div>

        <!-- End of container -->
    </div>
</main>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>

    $(document).ready(function () {
        $('.carousel').carousel();
    })
</script>


</body>

</html>