@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

.list-group-item {
  line-height: 2.5;
}

.about-description {
  color: blanchedalmond;
}

body {
 background-color: rgbA(0, 20, 40, 1.00) !important;
 font-family: 'Merriweather', serif;
 letter-spacing: 0.1em;
}

div.card.mt-4 {
  background-color: transparent !important;
  color: white;
}

.card-content{
  color: darkblue;
}

nav {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding: 0.5em 2em !important;
}

nav ul {
  font-weight: 400;
}

nav, footer {
  background-color: rgbA(255, 255, 255, 0.20) !important;
}

.nav-wrapper .page-footer {
 /* font-family: 'Oxygen'; */
}

.logo-font {
 /* font-family: 'Muli';
 height: 64px;
 margin-top: 0;
 padding-top: 0; */
 font-family: 'Montserrat';
}
.logo-font:hover {
  text-decoration: none;

}
.rating {
  float:left;
  width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
  position:absolute;
  top:0px;
  left:0px;
  opacity:0;
}
.rating span label {
  display:inline-block;
  width:30px;
  height:30px;
  text-align:center;
  color:#FFF;
  background:#ccc;
  font-size:30px;
  margin-right:2px;
  line-height:30px;
  border-radius:50%;
  -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
  background:#F90;
  color:#FFF;
}
